.fotos_aca{

    width: 100%;
    height: auto;
    position: absolute;
    transform: translate(20vw, -70vh);

}

.titulo_aca{

  color: rgb(255, 255, 255, 0);
  font-size: 8vw;
  -webkit-text-stroke: 4px #00ffff;
  font-family: LinkStart;

}

.contain_aca{

  width: 100%;
  height: auto;
  position: absolute;
  transform: translate(0, -90vh);

}